

/* Montserrat Thin - 100 */
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-Thin.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-Thin.woff')
      format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-ThinItalic.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-ThinItalic.woff')
      format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Extra Light - 200 */
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-ExtraLight.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-ExtraLight.woff')
      format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-ExtraLightItalic.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-ExtraLightItalic.woff')
      format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light - 300 */
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-Light.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-Light.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-LightItalic.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-LightItalic.woff')
      format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular - 400 */
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-Regular.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-Regular.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-Italic.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-Italic.woff')
      format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium - 500 */
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-Medium.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-Medium.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-MediumItalic.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-MediumItalic.woff')
      format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* SemiBold - 600 */
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-SemiBold.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-SemiBold.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-SemiBoldItalic.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-SemiBoldItalic.woff')
      format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold - 700 */
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-Bold.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-Bold.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-BoldItalic.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-BoldItalic.woff')
      format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ExtraBold - 800 */
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-ExtraBold.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-ExtraBold.woff')
      format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-ExtraBoldItalic.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-ExtraBoldItalic.woff')
      format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Black - 900 */
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-Black.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-Black.woff')
      format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src:
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-BlackItalic.woff2')
      format('woff2'),
    url('https://open-frontend-bucket.s3.amazonaws.com/fonts/montserrat/MontserratThin-BlackItalic.woff')
      format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}


 * {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
 }